<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura</Format>

					<!-- never instrument generated or obsolete code -->
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>

					<!-- drop any files under given folders, add a new folder to include separated with comma -->
					<ExcludeByFile>**/Migrations/*.cs,**/Ombor.TestDataGenerator/**/*.cs</ExcludeByFile>

					<!-- exclude those two assemblies entirely -->
					<Exclude>[Ombor.Tests.Common]*</Exclude>

					<!-- skip compiler‐generated auto‐props -->
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
